//====================================================
//----------------------- Pages ----------------------
//====================================================

body {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	@include rem("font-size", 14);
	line-height: 1.3;
	background-color: #fff;
	background: url(../images/bg.png) repeat top left;
}
body a {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6 {
	margin:0;			   
}
p {
	margin:0;
}
ol, ul {
	margin: 0;
	padding: 0;
}
ol li, ul li {
	list-style: none;
}

.header-top {
	position: relative;
	@include rem("padding", 5, 0);
	background-color: rgba(102, 51, 0, 0.85);
}

.logo {
  position: absolute;
  top: -4px;
  z-index: 150;
	a {
		width: 135px;
		margin: 0 auto;
	  display: block;
		img {
		  width: 100%;
		}
	}
}

.hot-line {
	@include rem("padding", 0, 0, 0, 15);
	h3 {
		color: #F9FF00;
	  text-align: right;
	  @include rem("font-size", 14);
	  @include rem("padding", 16, 0, 16, 50);
	  background: url(../images/phone.png) no-repeat;
	  span {
	  	@include rem("margin", 0, 5);
	  }
	}
}

.btn-bar {
  display: none;
	position: absolute;
	bottom: 10px;
	color: #e3e3e3;
	cursor: pointer;
	&:hover, &:focus {
		color: #8A8686;
	}
}

.form-search {
  width: 260px;
  @include rem("margin", 10, 0);
  > div {
  	width: 100%;
  }
}

#ipt-search {
  padding-left: 25px;
  border-radius: 0;
	background: #fff url(../images/ic_search.png) 3px 4px no-repeat;
  background-size: 20px;
}

.ic-search {
	display: none;
	@include rem("padding", 10);
	color: #e3e3e3;
	cursor: pointer;
	&:hover, &:focus {
		color: #8A8686;
	}
}

.ic-cart {
  margin-right: 20px;
  @include rem("font-size", 16);
	@include rem("padding", 10, 0, 0, 10);
	text-decoration: none;
	position: relative;
	color: #e3e3e3;
	&:hover, &:focus {
		color: #8A8686;
	}
	em {
		text-align: center;
		width: 20px;
		height: 20px;
		border-radius: 50% 50%;
		font-style: normal;
		background-color: #FF0000;
		@include rem("font-size", 14);
		position: absolute;
		right: 0;
		top: 0;
	}
}

.navigation {
	position: relative;
	@include rem("padding", 20, 0, 7);
	border-bottom: 1px solid rgba(102, 51, 0, 0.85);
}

.box-navi {
	@include rem("padding", 0, 0, 0, 150);
	> ul {
		> li {
			@include rem("margin", 25, 10, 15, 10);
			> a {
				color: #333;
			  font-weight: 600;
				text-transform: uppercase;
			  @include rem("font-size", 16);
				background-color: transparent;
				&:active,
				&:hover {
					color: rgba(102, 51, 0, 0.85);
				}
				&:hover {
					background-color: transparent;
				}
				span {
					@include rem("font-size", 13);
				}
			}
		}
		&.nav .open > a, 
		&.nav .open > a:hover, 
		&.nav .open > a:focus {
			background: transparent;
			border: none;
		}
	}
}

#shop-by-category,
#shop-by-size {
	> li {
		padding: 0;
		> a {
			@include rem("padding", 5, 10);
			@include rem("font-size", 16);
			font-weight: normal;
			text-transform: capitalize;
		}
	}
}

#shop-by-size {
	width: 325px;
	@include rem("padding", 10);
	.shop-by-age-column {
		width: 33%;
		float: left;
		> ul > li {
			padding: 0;
			> a {
				color: #333;
				display: block;
				@include rem("padding", 5, 0);
				@include rem("font-size", 16);
				font-weight: normal;
				text-transform: capitalize;
				&:hover, &:focus {
					text-decoration: none;
					background-color: #e8e8e8;
			    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
			    background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
			    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
			    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
			    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
			    background-repeat: repeat-x;
				}
			}
		}
	}
}

.nav-setting {
	@include rem("padding", 25, 10, 0, 0);
	&.flag-respon {
		@include rem("padding", 15, 0, 0, 10);
	}
	> li {
		a {
			color: #333;
			text-decoration: none;
		}
		span.glyphicon {
			@include rem("font-size", 10);
		}
		span.countryside {
			@include rem("font-size", 14);
			text-transform: uppercase;
		}
	}
}

.acc-menu {
	display: none;
}

.ic-account {
	color: #333;
}

#main-content {
	@include rem("padding", 0, 0, 50);
}

.box-slider {
	@include rem("padding", 20, 0);
}

.box-product {
	h2 {
		@include rem("font-size", 30);
	
	}
	img {
		width: 100%;
		height: 100%;
	}
}

.list-product {
	li {
		min-height: 400px;
		@include rem("padding", 10);
		background-color: #fefefe;
		a {
			position: relative;
			display: block;
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}	
		}
		span {
			display: block;
		}
	}
}

.box-dis {
	.title {
		color: #fc9835;
		text-align: center;
		@include rem("font-size", 20);
		@include rem("padding",0, 0, 10, 0);
	}
	.detail {
		color: #333;
		line-height: 25px;
		@include rem("font-size", 16);
		@include rem("padding",0, 0, 10, 0);
	}
	.spec {
		position: absolute;
		right: 0;
	  bottom: 0;
	  color: #e3e3e3;
	  width: 100%;
		text-align: right;
		@include rem("font-size", 14);
		@include rem("padding", 10);
	  background-color: rgba(62, 62, 62, 0.5);
	}
	.type {
		color: #fefefe;
		font-style: italic;
	}
	.show-now {
		color: #FF0000;
		font-style: italic;
		text-align: right;
	}
}

.gutter-norm {
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  margin-bottom: 2px;
}
.no-gutter {
	padding: 0;
	margin: 0;
}

footer {
  background-color: rgba(51, 51, 51, 0.9);
	@include rem("padding", 35, 0, 50);
}

.footet-left h3 {
  color: #fff;
  font-size: 1.2em;
  // font-weight: 600;
  @include rem("padding", 15, 0, 0);
}

.footet-left ul {
  padding: 0;
  margin-top: 5%;
}

.footet-left ul li {
  list-style: none;
  margin: 6px 0px;
}

.footet-left ul li a {
  color: #999;
  font-size: 15px;
  font-weight: 300;
}

.footet-left ul li a:hover, .copy-rights p a:hover {
  color: #fff;
  text-decoration: none;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
}

.sub-text {
  margin-top: 8%;
}

.sub-text input[type="text"] {
  width: 72%;
  color: #fff;
  outline: none;
  font-family: 'Lato', sans-serif;
  background: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 11px 12px;
  border: 1px solid #fff;
  -webkit-appearance: none;
}

.sub-text input[type="submit"] {
  border: 1px solid #fff;
  outline: none;
  border-left: none;
  color: #fff;
  margin-left: -4px;
  background: url(../images/arrow.png) no-repeat 14px 12px;
  padding: 10px 22px 11px 19px;
  -webkit-appearance: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
	.sub-text input[type="submit"] {
		padding: 6px 22px 14px 19px;
	}
}

.copy-rights {
  margin-top: 5%;
  text-align: center;
}

.copy-rights p {
  color: #999;
  font-size: 15px;
  font-weight: 300;
}

.scrollTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 14px;
	right: 3%;
	bottom: 25px;
	right: 30px;
	cursor: pointer;
	z-index: 999;
	i {
		color: rgba(102, 51, 0, 0.85);
	}
}