//====================================================
//----------------------- Pages ----------------------
//====================================================

body {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	@include rem("font-size", 14);
	line-height: 1.3;
	background-color: #fff;
	background: url(../images/bg.png) repeat top left;
}
body a {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6 {
	margin:0;			   
}
p {
	margin:0;
}
ol, ul {
	margin: 0;
	padding: 0;
}
ol li, ul li {
	list-style: none;
}

.header-top {
	position: relative;
	@include rem("padding", 5, 0);
	background-color: rgba(102, 51, 0, 0.85);
}

.logo {
	a {
		img {
		  width: 10%;
		  z-index: 150;
		  position: absolute;
		  top: -8px;
		}
	}
}

.header-contact {
	@include rem("padding", 0, 0, 0, 15);
	h3 {
		color: #F9FF00;
	  text-align: right;
		font-family: 'Metamorphous', cursive;
	  @include rem("font-size", 14);
	  @include rem("padding", 16, 0, 16, 50);
	  background: url(../images/img_hotline.png) no-repeat;
	  span {
	  	@include rem("margin", 0, 5);
	  }
	}
}

.search-margins {
  max-width: 320px;
  min-width: 100px;
  width: 320px;
  > div {
  	width: 100%;
  }
}

#ipt-search {
	width: 100%;
  padding-left: 25px;
  border-radius: 0;
	background: #fff url(../images/ic_search.png) 3px 4px no-repeat;
  background-size: 20px;
}

.ic-cart {
  margin-right: 20px;
  @include rem("font-size", 16);
	@include rem("padding", 10, 0, 0, 10);
	text-decoration: none;
	position: relative;
	color: #F9FF00;
	em {
		text-align: center;
		width: 20px;
		height: 20px;
		border-radius: 50% 50%;
		font-style: normal;
		background-color: #FF0000;
		@include rem("font-size", 14);
		position: absolute;
		right: 0;
		top: 0;
	}
}

.navigation {
	position: relative;
	@include rem("padding", 10, 0, 7, 0);
	border-bottom: 1px solid rgba(102, 51, 0, 0.85);
}

.box-navi {
	@include rem("padding", 0, 0, 0, 150);
	> ul {
		> li {
			@include rem("margin", 25, 25, 15, 25);
			> a {
				color: #333;
			  font-weight: 600;
				text-transform: uppercase;
			  @include rem("font-size", 16);
				background-color: transparent;
				&:active,
				&:hover {
					color: rgba(102, 51, 0, 0.85);
				}
				&:hover {
					background-color: transparent;
				}
				span {
					@include rem("font-size", 13);
				}
			}
		}
		&.nav .open > a, 
		&.nav .open > a:hover, 
		&.nav .open > a:focus {
			background: transparent;
			border: none;
		}
	}
}

#shop-by-category,
#shop-by-size {
	> li {
		padding: 0;
		> a {
			@include rem("padding", 5, 10);
			@include rem("font-size", 16);
			font-weight: normal;
			text-transform: capitalize;
		}
	}
}

.nav-setting {
	@include rem("padding", 25, 10, 0, 0);
	> li {
		a {
			color: #333;
			text-decoration: none;
		}
		span.glyphicon {
			@include rem("font-size", 10);
		}
		span.countryside {
			@include rem("font-size", 14);
			text-transform: uppercase;
		}
	}
}

#main-content {
	@include rem("padding", 0, 0, 50);
}

.box-slider {
	@include rem("padding", 20, 0);
}

.box-product {
	h2 {
		@include rem("font-size", 25);
		font-family: 'Metamorphous', cursive;
	}
	img {
		width: 100%;
		height: 100%;
	}
}

.list-product {
	li {
		min-height: 426px;
		@include rem("padding", 10);
		// border: 1px solid #3e3e3e;
		background-color: #fefefe;
		a {
			position: relative;
			display: block;
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}	
		}
		span {
			display: block;
		}
	}
}

.box-dis {
	.title {
		color: #fc9835;
		text-align: center;
		font-family: 'Metamorphous', cursive;
		@include rem("font-size", 20);
		@include rem("padding",0, 0, 10, 0);
	}
	.detail {
		color: #333;
		line-height: 25px;
		@include rem("font-size", 16);
		@include rem("padding",0, 0, 10, 0);
	}
	.spec {
		position: absolute;
		right: 0;
	  bottom: 0;
	  color: #e3e3e3;
	  width: 100%;
		text-align: right;
		@include rem("font-size", 14);
		@include rem("padding", 10);
	  background-color: rgba(62, 62, 62, 0.5);
	}
	.type {
		color: #fefefe;
		font-style: italic;
	}
	.show-now {
		color: #FF0000;
		font-style: italic;
		text-align: right;
	}
}

.gutter-norm {
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  margin-bottom: 2px;
}
.no-gutter {
	padding: 0;
	margin: 0;
}

footer {
	// background-color: rgba(102, 51, 0, 0.7);
  background-color: rgba(51, 51, 51, 0.9);
	padding: 4em 0px;
}

.footet-left h3 {
  font-family: 'Metamorphous', cursive;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
}

.footet-left ul {
  padding: 0;
  margin-top: 5%;
}

.footet-left ul li {
  list-style: none;
  margin: 6px 0px;
}

.footet-left ul li a {
  color: #999;
  font-size: 15px;
  font-weight: 300;
}

.footet-left ul li a:hover, .copy-rights p a:hover {
  color: #fff;
  text-decoration: none;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
}

.sub-text {
  margin-top: 8%;
}

.sub-text input[type="text"] {
  width: 82%;
  color: #fff;
  outline: none;
  font-family: 'Lato', sans-serif;
  background: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 11px 12px;
  border: 1px solid #fff;
  -webkit-appearance: none;
}

.sub-text input[type="submit"] {
  border: 1px solid #fff;
  outline: none;
  border-left: none;
  color: #fff;
  margin-left: -4px;
  background: url(../images/arrow.png) no-repeat 14px 12px;
  padding: 6px 22px 14px 19px;
  -webkit-appearance: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.copy-rights {
  margin-top: 5%;
  text-align: center;
}

.copy-rights p {
  color: #999;
  font-size: 15px;
  font-weight: 300;
}