//====================================================
//--------------------- Login Page -------------------
//====================================================
#login-page {
	h2 {
		line-height: 25px;
		margin: 0;
		@include rem("font-size", 25);
		@include rem("padding", 50, 10, 20, 10);
		@include rem("margin", 0, 0, 30);
		border-bottom: 1px solid #BBB8B8;
	}
	h3 {
		color: #7B5025;
		line-height: 25px;
		@include rem("font-size", 25);
		@include rem("margin", 0, 0, 15);
		@include rem("padding", 0, 0, 5);
		border-bottom: 1px dashed #7B5025;
	}
	.login-content {
		position: relative;
		@include roundedCorners(10);
		@include rem("padding", 20, 0);
		margin-top: 50px;
		border: 1px solid #BBB8B8;
	}
	.form-login {
		form {
			@include rem("margin", 60, 0, 0);
		}
	}
	.line-vertical {
		position: absolute;
    left: 385px;
    top: 85px;
    width: 1px;
    height: 250px;
    border-right: 1px solid #BBB8B8;
	}
}